@import reset
@import mixins
@import application-media

body
  font-family: Roboto

#container
  +flexbox()
  +justify-content(center)
  +align-items(center)
  height: 100vh
  color: #282828

.crypto-main
  max-width: 960px
  width: 100%
  padding: 0 16px
  >h1
    font-weight: 300
    font-size: 50px
    line-height: 120%
    margin-bottom: 16px
  >p
    font-size: 20px
    line-height: 100%
    margin-bottom: 60px

.crypto-form
  max-width: 960px
  width: 100%
  +flexbox()
  +flex-direction(column)
  input
    height: 48px
    width: 100%
    background-color: #F6F7F8
    border: 1px solid #E3EBEF
    border-radius: 5px
    padding-left: 16px
    &:focus
      outline: none
  input, select, p
    line-height: 23px
    font-size: 16px
  button
    background: #11B3FE
    border-radius: 5px
    font-weight: bold
    font-size: 16px
    line-height: 120%
    letter-spacing: 0.03em
    text-transform: uppercase
    color: #FFFFFF
    height: 50px
    border: none
    cursor: pointer
    min-width: 205px
    &:hover
      background-color: #0095E0

.currency-wrapper
  +flexbox()
  +align-items(flex-start)
  >img
    width: 24px
    height: 24px
    margin: 0 31px 0 33px
    +align-self(center)
  >div
    width: 100%
    background-color: #F6F7F8
    max-height: 50px
  input
    border-radius: 0
    border: none

.selector-currency-wrapper
  border: 1px solid #E3EBEF
  +flexbox()
  border-radius: 5px
  width: 100%
  background-color: #F6F7F8
  &:after
    content: ""
    position: relative
    top: 10px
    right: 150px
    display: block
    height: 30px
    border-left: 1px solid #E3EBEF

.selector-currency
    max-width: 139px
    margin-right: 11px
    width: 100%
    +flexbox()
    +justify-content(center)
    +align-items(center)
    background: url(/images/drop-options.svg) no-repeat right
    cursor: pointer
    img
      max-width: 20px
      max-height: 20px
      margin-right: 12px
    p
      text-transform: uppercase

.drop-down-currency
  +flexbox()
  +flex-direction(column)
  width: 100%
  background-color: #F6F7F8
  border-radius: 5px
  border: 1px solid #E3EBEF
  position: relative
  z-index: 999

.search-wrapper
  +flexbox()
  border-bottom: 1px solid #E3EBEF
  div
    background: url(/images/hide-options.svg) no-repeat right
    width: 15px
    height: 48px
    margin-right: 11px
    cursor: pointer
  input
    border: none
    max-width: 100%
    margin-right: 50px
  &::placeholder
    color: #80A2B6

.currencies-wrapper
  +flexbox()
  +flex-direction(column)
  width: 100%
  height: 154px
  overflow-y: scroll
  scrollbar-width: none
  -ms-overflow-style: none
  &::-webkit-scrollbar
    display: none


.currency
  min-height: 50px
  +flexbox()
  +align-items(center)
  cursor: pointer
  &:hover
    background-color: #EAF1F7
  img
    width: 20px
    height: 20px
    margin-left: 17px
  p
    &:nth-child(2)
      text-transform: uppercase
      margin-left: 12px
      margin-right: 13px
    &:nth-child(3)
      color: #80A2B6


.approval-wrapper
  +flexbox()
  +align-items(flex-end)
  margin-top: 32px
  input
    margin-top: 8px
  label
    width: 100%
    margin-right: 32px
  div
    +flexbox()
    +flex-direction(column)
    +align-items(center)
    p
      color: #E03F3F
      position: absolute
      display: block
      background-color: white
      margin: 52px 30px 0 30px

